body, html {
  color: #2C3E50;
  background-color: #ECF0F1;
  font-family: "Open Sans", sans-serif;
}

#hero {
  padding: 30px;
}

#hero h1 {
  font-weight: 800;
}

#hero h2 {
  font-weight: 300;
  font-style: italic;
}

#hero button {
}

.form_error {
  color: red;
  font-size: 0.9em;
}

.option {
    background-color: deepskyblue;
    padding: 12px;
    margin: 8px;
    display: inline-block;
    font-size: 1.4em;
    border-radius: 8px;
}