@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800')

body, html
    color: #2C3E50
    background-color: #ECF0F1
    font-family: 'Open Sans', sans-serif

header
    background-color: white
    padding: 8px
    font-size: 1.2em
    margin-bottom: 24px

    #logo
        display: inline-block
        font-size: 1.8em
        font-weight: 300
        vertical-align: middle
        margin: 0 24px 0 0

        i
            font-size: 0.8em

    nav
        display: inline-block
        vertical-align: middle

    ul
        display: inline

    li
        display: inline

        a
            text-decoration: none
            padding: 12px
            height: 100%

#hero
    padding: 30px

#hero h1
    font-weight: 800

#hero h2
    font-weight: 300
    font-style: italic

#hero button

#messages
    ul
        display: inline

    li
        display: inline

    .message
        display: block
        background-color: lightcoral
        font-size: 1.2em
        color: white
        border-radius: 8px
        width: 100%
        padding: 8px 12px

.form_error
    color: red
    font-size: 0.9em

.option
    display: inline-block
    font-size: 1.4em