@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800')
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,800')

// pastells

$pastellGreen: #a8e6cf
$pastellLime: #dcedc1
$pastellOrange: #ffd3b6
$pastellPink: #ffaaa5
$pastellRed: #ff8b94

$red: #CC333F
$pink: #ff4d80
$sun: #fed766
$blue: #00A0B0
$gray: #292f36
$white: #fafafa
$ivory: #fbf5f3
$slate: #93b7be

body, html
    color: $gray
    background-color: $white
    font-family: 'Nunito', sans-serif

header
    background-color: $red
    color: $white
    padding: 8px
    font-size: 1.4em
    font-family: 'Nunito', sans-serif

    #logo
        display: inline-block
        font-size: 1.6em
        font-weight: 400
        vertical-align: middle
        margin: 0 24px 0 0

        a
            text-decoration: none
            color: $white

        i
            font-size: 0.8em

    nav
        display: inline-block
        vertical-align: middle
        font-weight: 300

    ul
        display: inline

    li
        display: inline

        a
            color: $white
            text-decoration: none
            padding: 24px
            height: 100%

        a:hover, a:focus, a:active
            color: lighten($red, 30%)

.content
    margin-top: 48px

#hero
    padding: 30px
    background-color: $red
    color: $white
    text-align: center
    font-family: 'Nunito', sans-serif

    h1
        font-weight: 800

    h2
        font-weight: 300

    .button
        background-color: $sun
        border: 1px solid $sun
        color: $gray
        font-size: 1.2em
        padding: 8px 24px
        margin: 1.5em
        height: 100%

        &:hover, &:active, &:focus
            background-color: darken($sun, 20%)
            border-color: darken($sun, 20%)

#messages
    ul
        display: inline

    li
        display: inline

    .message
        display: block
        background-color: $red
        border-bottom: 3px solid darken($red, 30%)
        font-size: 1.2em
        color: white
        border-radius: 8px
        width: 100%
        padding: 8px 12px

label
    font-weight: 400
    font-size: 1.2em
    display: inline-block

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
    font-size: 1.2em
    height: 48px

.form_error
    color: red
    font-size: 0.9em

.option
    display: inline-block

.hint
    padding-top: 32px
    color: lighten($gray, 40%)

.button.button-primary,
button.button-primary,
input.button-primary[type="submit"],
input.button-primary[type="reset"],
input.button-primary[type="button"]
    background-color: $sun
    border: 1px solid $sun
    color: $gray

    &:hover, &:active, &:focus
        background-color: darken($sun, 20%)
        border-color: darken($sun, 20%)
        color: $gray