{% extends "base.html" %}
{% block body %}
<section class="container" id="create-feedback">
    <h2>Get your feedback. It's super simple!</h2>
    <form action="{{ url_for('create_feedback') }}" method="post">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="one-half column">
                {{ form.name.label }} {% if form.name.flags.required %}*{% endif %}
                {{ form.name(placeholder='My retrospective', required='required', class_='u-full-width') }}
                {% for error in form.name.errors %}
                <div class="form_error">{{ error }}</div>
                {% endfor %}
                <p class="hint">Use something short and descriptive</p>
            </div>

            <div class="one-half column">
                {{ form.email.label }} {% if form.email.flags.required %}*{% endif %}
                {{ form.email(placeholder='me@example.com', class_='u-full-width') }}
                {% for error in form.email.errors %}
                <div class="form_error">{{ error }}</div>
                {% endfor %}
                <p class="hint">We won't send spam, promised! We'll need this to send you an admin link that will show
                    the results of your feedback</p>
            </div>
        </div>

        <div class="row">
            <div class="u-full-width">
                {{ form.description.label }} {% if form.description.flags.required %}*{% endif %}
                {{ form.description(class_='u-full-width', rows=8) }}
                {% for error in form.description.errors %}
                <div class="form_error">{{ error }}</div>
                {% endfor %}
                <p class="hint">Send a little message to your participants to let them know what you want to receive
                    feedback about</p>
            </div>
        </div>

        <div class="row">
            <div class="eight columns">
                {{ form.options.label }} {% if form.options.flags.required %}*{% endif %}
                <div class="selected-options">
                    <span class="box add">+</span>
                </div>

                <p class="hint">Choose a set of answers that works best for the feedback you want to achieve. Think about the tone of voice, the number of options and the visual style you need.</p>
            </div>
            <div class="four columns">
                <div class="options">
                  {% for choice in form.options.choices %}
                    <span class="box option">{{ choice[1] }}</span>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="option">
            {{ form.options(class_='option-select', size=10) }}
        </div>

        <div class="row">
            {{ form.submit(class_='button-primary') }}
        </div>
    </form>
</section>

<script src="{{url_for('static', filename='js/options.js')}}"></script>
{% endblock %}
