{% extends "base.html" %}
{% block body %}
<section class="container">
    <h1>Get your feedback. It's super simple!</h1>
    <form action="{{ url_for('create_feedback') }}" method="post">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="two-thirds column">
                {{ form.name.label }}
                {{ form.name(placeholder='My retrospective', required='required', class_='u-full-width') }}
                {% for error in form.name.errors %}
                <div class="form_error">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="one-third column">
                <p class="hint">Use something short and descriptive</p>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds  column">
                {{ form.description.label }}
                {{ form.description(class_='u-full-width', rows=8) }}
                {% for error in form.description.errors %}
                <div class="form_error">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="one-third column">
                <p class="hint">Send a little message to your participants to let them know what you want to receive
                    feedback about</p>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                {{ form.email.label }}
                {{ form.email(placeholder='me@example.com', class_='u-full-width') }}
                {% for error in form.email.errors %}
                <div class="form_error">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="one-third column">
                <p class="hint">We won't send spam, promised! We'll need this to send you an admin link that will show
                    the results of your feedback</p>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                {% for subfield in form.options %}
                <div class="option">
                    <span>{{ subfield }}</span>
                    <span>{{ subfield.label }}</span>
                </div>
                {% endfor %}
            </div>

            <div class="one-third column">
                <p class="hint">Choose a set of feedback options that works best for the feedback you want to achieve.
                Think about the tone of voice, the number of options and the visual style you need.</p>
            </div>
        </div>

        <div class="row">
            {{ form.submit(class_='button-primary') }}
        </div>
    </form>
</section>
{% endblock %}
