{% extends "base.html" %}
{% block body %}
<section id="feedback_list" class="container">
    {% if feedbacks|length == 0 %}
    <h2>There seems to be nothing here yet!</h2>
    <p>Why don't you create your first feedback now?</p>
    <a href="{{ url_for('create_feedback') }}" class="button button-primary">Create Feedback</a>
    {% else %}
    <h2>Your Feedback</h2>

    <a href="{{ url_for('create_feedback') }}" class="button button-primary">+ Add Feedback</a>

    <table class="u-full-width">
        <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Created</th>
            <th>Responses</th>
        </tr>
        </thead>

        <tbody>
        {% for feedback in feedbacks %}
        <tr>
            <td>
                <a href="{{ url_for('feedback', feedback_id=feedback.id)}}">{{ feedback.name }}</a>
            </td>
            <td>
                <span class="badge blue">Open</span>
            </td>
            <td>
                <span>{{ feedback.created_at.humanize()}}</span>
            </td>
            <td>
                <span>{{ feedback.votes|length }} responses</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>
{% endblock %}
