{% extends "base.html" %}
{% block body %}
<section id="feedback" class="container">
    <div class="title">
        <h2>{{ feedback.name }}</h2>
        <div class="subtitle">
                <span class="item">
                    <a href="{{ url_for('results', feedback_id=feedback.id) }}">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i> Results
                    </a>
                </span>

            <span class="item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Created {{ feedback.created_at.humanize() }}
                </span>
        </div>
    </div>

    <div>{{ feedback.description }}</div>

    <form action="{{ url_for('feedback', feedback_id=feedback.id) }}" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.option.label }} {% if form.option.flags.required %}*{% endif %}
            {{ form.option }}

            {% for error in form.option.errors %}
            <div class="form_error">{{ error }}</div>
            {% endfor %}
        </div>

        <div>
            {{ form.text.label }} {% if form.text.flags.required %}*{% endif %}
            {{ form.text(class_='u-full-width', rows=8) }}

            {% for error in form.text.errors %}
            <div class="form_error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="row">
            {{ form.submit(class_='button-primary') }}
        </div>
    </form>
</section>
{% endblock %}
