{% extends "base_page.html" %}
{% block content %}
<section class="container">
    {% if feedbacks|length == 0 %}
        <h1>There seems to be nothing here yet!</h1>
        <p>Why don't you create your first feedback now?</p>
        <a href="{{ url_for('create_feedback') }}" class="button button-primary">Create Feedback</a>
    {% else %}
        <h1>Your Feedback</h1>
        <table>
            {% for feedback in feedbacks %}
            <tr>
                <td>
                    <a href="{{ url_for('feedback', feedback_id=feedback.id)}}">{{ feedback.name }}</a>
                </td>
                <td>
                    {{ feedback.id }}
                </td>
                <td>
                    <span class="badge blue">Open</span>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</section>
{% endblock %}
