{% extends "base.html" %}
{% block body %}
<section id="feedback" class="container">
    <div class="feedback">
        <h1>{{ feedback.name }}</h1>

        <div>{{ feedback.description }}</div>

        <div class="vote">
            {% for option in feedback.options %}
            <a class="button button-primary option" href="{{ url_for('vote', feedback_id=feedback.id,
      option_id=option.id) }}">{{ option.description }}</a>
            {% endfor %}
        </div>
    </div>

    <div>
        <a href="{{ url_for('results', feedback_id=feedback.id) }}">See your feedback results</a>
    </div>
</section>
{% endblock %}
