{% extends "base.html" %}
{% block body %}
<section id="feedback" class="container">
    <div class="title">
        <h2>{{ feedback.name }}</h2>
        <div class="subtitle">
                <span class="item">
                    <a href="{{ url_for('results', feedback_id=feedback.id) }}">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i> Results
                    </a>
                </span>

            <span class="item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Created {{ feedback.created_at.humanize() }}
                </span>
        </div>
    </div>

    <div>{{ feedback.description }}</div>

    <div class="options">
        {% for option in feedback.options %}
        <form action="{{ url_for('vote', feedback_id=feedback.id) }}" method="post">
            <input type="text" name="option" value="{{ option.id }}">
            <input type="text" name="text">
            <button class="button button-primary big option" type="submit">{{ option.description }}</button>
        </form>
        {% endfor %}
    </div>
</section>
{% endblock %}
