<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kudos - Get Feedback Faster</title>
  <meta name="description" content="">
  <meta name="author" content="Ham Vocke">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">

  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
  <h1>Kudos</h1>
  <h2>Get Feedback Faster</h2>

</body>
</html>
